body {
    background-color: darksalmon;
}

.draggable {
    background-image: url('https://source.unsplash.com/random/150x150');
    position: relative;
    height: 150px;
    width: 150px;
    top: 5px;
    left: 5px;
    cursor: pointer;
}

.droppable {
    display: inline-block;
    height: 160px;
    width: 160px;
    margin: 10px;
    border: 3px salmon solid;
    background-color: white;
}

.dragging {
    border: 4px yellow solid;
}

.drag-over {
    background-color: #f4f4f4;
    border-style: dashed;
}

.invisible {
    display: none;
}
